.header {
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  display: flex;
  gap: 10px;
  background-color: bisque;
  padding: 10px;
  font-size: 20px;
}

.header__link {
  color: #a34d1b;
}

.header__link_disaibled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
